{% extends 'base.html' %}

{% comment %}
{% block sidebar %}
    {% include 'inc/_sidebar.html' %}
{% endblock %}
{% endcomment %}

{#{% block profile %}#}
{#    {% include 'inc/_profile.html' %}#}
{#{% endblock %}#}

{#{% block menu %}#}
{#    {% include 'transaction includes/profile_finances_sidebar.html' %}#}
{#{% endblock %}#}



{% block content %}



    <div class="card my-chadow my-margin" style="width: 18rem;">
        {% if user.profile.profile_pic %}
            <img src="{{ profile.profile_pic.url }}" class="card-img-top" alt="">
        {% else %}
            <img src="/static/media_files/empty_avatar.png" class="avatar" alt="Avatar">
        {% endif %}

        <div class="card-body">
            <h5 class="card-title">{{ page_user }}</h5>
{#            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's#}
{#                content.</p>#}
            <div class="d-flex flex-column">
                     <p><strong>О себе:</strong> {{ profile.bio }}</p>
                     {% if profile.twitter %}
                         <p><strong>Twitter:</strong> {{ profile.twitter }}</p>
                     {% endif %}
                     {% if profile.instagram %}
                         <p><strong>Instagram:</strong> {{ profile.instagram }}</p>
                     {% endif %}
                     {% if profile.facebook %}
                         <p><strong>Facebook:</strong> {{ profile.facebook }}</p>
                     {% endif %}
                 </div>

            <a href="{% url 'update_user_profile' profile.id %}" class="btn btn-primary">Редактировать профиль</a>
        </div>
    </div>

{% endblock content %}