{% load money_tags %}
<div class="card my-margin my-chadow my-padding">
    <h4>Суммарный баланс:</h4>
    {% for currenty, balans in sum_balans.items %}
        <h5>{{ currenty }} {{ balans|money_filter }}</h5>
    {% endfor %}
    <div class="d-flex flex-column my-padding">
        <div class="d-flex">
            <a href="{% url 'choice_category' %}" class="btn btn-primary make_transaction_sidebar__button">Добавить транзакцию</a>
        </div>
        <div class="d-flex">
            <a href="{% url 'upload_exel' %}" class="btn btn-primary make_transaction_sidebar__button">Генерировать файл .xlsx</a>
        </div>
    </div>
</div>

