{% extends 'base.html' %}

{% comment %}
{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}
{% endcomment %}

{% block profile %}
{% include 'inc/_profile.html' %}
{% endblock %}

{% block menu %}
{% include 'transaction includes/profile_finances_sidebar.html' %}
{% endblock %}

{% block content %}

<h1>Добавление записи о расходе</h1>

<form action="{% url 'add_transaction' category.pk %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary btn-block">Добавить запись</button>
</form>

{% endblock %}

