<div class="card-container">
    <div class="card-front black-card">
        <div class="text">+4</div>
        <div class="card-main">
            <div class="mini-card plus-four-green"></div>
            <div class="mini-card plus-four-blue"></div>
            <div class="mini-card plus-four-red"></div>
            <div class="mini-card plus-four-yellow"></div>
        </div>
        <div class="text rotate-footer">+4</div>
    </div>
    <div class="card-back black-card">
        <div class="uno-container">
            <h1>UNO</h1>
        </div>
    </div>
</div>