<div class="region-fast-actions-1qyzhiq e1obmdmm5">
    <div class="region-fast-actions-8hb08l er352100">
        <button title="Добавить быстрое действие" class="region-fast-actions-mo280m e1df5io74"><span
                class="region-fast-actions-ex3g9u etqg34g0"><svg focusable="false" xmlns="http://www.w3.org/2000/svg"
                                                                 width="36" height="36" viewBox="0 0 36 36"><path
                fill-rule="evenodd"
                d="M31 18c0 7.18-5.82 13-13 13S5 25.18 5 18 10.82 5 18 5s13 5.82 13 13zm-2 0c0-6.075-4.925-11-11-11S7 11.925 7 18s4.925 11 11 11 11-4.925 11-11zm-11-7c.552 0 1 .448 1 1v5h5c.513 0 .935.386.993.883L25 18c0 .552-.448 1-1 1h-5v5c0 .513-.386.935-.883.993L18 25c-.552 0-1-.448-1-1v-5h-5c-.513 0-.936-.386-.993-.884L11 18c0-.552.448-1 1-1h5v-5c0-.513.386-.936.883-.993z"></path></svg></span>
        </button>
    </div>
    <div class="epxjhex0 region-fast-actions-zffltk e1ndjcsx0"><a tabindex="0"
                                                                  class="region-fast-actions-1q8dsx9 eomlrlf13"
                                                                  href="/payments/main#payments">
        <div class="region-fast-actions-11z473d eomlrlf11">
            <div class="region-fast-actions-q3spxa eomlrlf4"><span
                    class="eomlrlf12 region-fast-actions-a6t7mc etqg34g0"><svg focusable="false"
                                                                               xmlns="http://www.w3.org/2000/svg"
                                                                               width="36" height="36"
                                                                               viewBox="0 0 36 36"><path
                    fill-rule="evenodd"
                    d="M26 5c1.656 0 3 1.344 3 3v20c0 1.656-1.344 3-3 3H10c-1.656 0-3-1.344-3-3V8c0-1.656 1.344-3 3-3zm0 2H10c-.552 0-1 .448-1 1v20c0 .552.448 1 1 1h16c.552 0 1-.448 1-1V8c0-.552-.448-1-1-1zm-3.707 14.464c.39-.39 1.023-.39 1.414 0 .39.39.39 1.023 0 1.414l-2.828 2.829c-.39.39-1.024.39-1.414 0l-1.414-1.414c-.39-.39-.39-1.024 0-1.414.39-.39 1.023-.39 1.414 0l.707.707zM16 21v2h-4v-2h4zm8-5v2H12v-2h12zm0-5v2H12v-2h12z"></path></svg></span>
            </div>
        </div>
        <div class="region-fast-actions-1rg7e38 eomlrlf10"><p title="Платежи" font-weight="medium"
                                                              class="region-fast-actions-213wn6 eomlrlf9">Платежи</p>
            <p title="Оплатить" class="region-fast-actions-n5alxh eomlrlf8">Оплатить</p></div>
    </a></div>
    <div class="epxjhex0 region-fast-actions-zffltk e1ndjcsx0"><a tabindex="0"
                                                                  class="region-fast-actions-1q8dsx9 eomlrlf13"
                                                                  href="/payments/main#transfers">
        <div class="region-fast-actions-11z473d eomlrlf11">
            <div class="region-fast-actions-q3spxa eomlrlf4"><span
                    class="eomlrlf12 region-fast-actions-a6t7mc etqg34g0"><svg focusable="false"
                                                                               xmlns="http://www.w3.org/2000/svg"
                                                                               width="36" height="36"
                                                                               viewBox="0 0 36 36"><path
                    fill-rule="evenodd"
                    d="M18 26.831c0 1.889 2.327 2.861 3.716 1.606l8.658-8.915c.838-.836.838-2.208-.01-3.055l-8.602-8.859C20.327 6.308 18 7.28 18 9.17V13h-7v2h9V9.169c0-.128.252-.233.374-.122l8.566 8.825c.076.076.076.18.01.245l-8.622 8.881c-.076.066-.328-.04-.328-.167V21H4v2h14v3.831zM7 19h6v-2H7v2z"></path></svg></span>
            </div>
        </div>
        <div class="region-fast-actions-1rg7e38 eomlrlf10"><p title="Переводы" font-weight="medium"
                                                              class="region-fast-actions-213wn6 eomlrlf9">Переводы</p>
            <p title="Перевести" class="region-fast-actions-n5alxh eomlrlf8">Перевести</p></div>
    </a></div>
    <div class="epxjhex0 region-fast-actions-1x071c0 e1ndjcsx0"><a tabindex="0"
                                                                   class="region-fast-actions-1q8dsx9 eomlrlf13">
        <div class="region-fast-actions-11z473d eomlrlf11">
            <div class="region-fast-actions-1328dwk eomlrlf4"><img
                    src="https://stories-res.online.sberbank.ru/CAMPAIGN/CAMPAIGNS/28006/074944c0c9959020f07b9c5207e07e7c.png"
                    alt="Когда поможет омбудсмен" srcset="" role="presentation"></div>
            <div class="region-fast-actions-5s7j7b eomlrlf1"><span
                    class="eomlrlf0 region-fast-actions-1s5b0un etqg34g0"><svg focusable="false" width="8" height="10"
                                                                               viewBox="0 0 8 10"
                                                                               xmlns="http://www.w3.org/2000/svg"><path
                    d="M0 8.30049V1.69951C0 0.93703 0.819113 0.455063 1.48564 0.825358L7.42652 4.12584C8.11233 4.50685 8.11233 5.49315 7.42652 5.87416L1.48564 9.17464C0.819112 9.54494 0 9.06297 0 8.30049Z"></path></svg></span>
            </div>
            <button tabindex="0" title="Скрыть карточку" class="region-fast-actions-1yxnxzs eomlrlf2"><span
                    class="region-fast-actions-1kpp3xy etqg34g0"><svg focusable="false"
                                                                      xmlns="http://www.w3.org/2000/svg" width="24"
                                                                      height="24" viewBox="0 0 24 24"><path
                    fill-rule="evenodd"
                    d="M15.293 7.293L12 10.585 8.707 7.293c-.36-.36-.928-.388-1.32-.083l-.094.083c-.39.39-.39 1.024 0 1.414L10.585 12l-3.292 3.293c-.39.39-.39 1.024 0 1.414.39.39 1.024.39 1.414 0L12 13.415l3.293 3.292c.36.36.928.388 1.32.083l.094-.083c.39-.39.39-1.024 0-1.414L13.415 12l3.292-3.293c.39-.39.39-1.024 0-1.414-.39-.39-1.024-.39-1.414 0z"></path></svg></span>
            </button>
        </div>
        <div class="region-fast-actions-1rg7e38 eomlrlf10"><p title="Когда поможет омбудсмен" font-weight="medium"
                                                              class="region-fast-actions-ij1n9i eomlrlf9">Когда поможет
            омбудсмен</p></div>
    </a></div>
    <div class="epxjhex0 region-fast-actions-1x071c0 e1ndjcsx0"><a tabindex="0"
                                                                   class="region-fast-actions-1q8dsx9 eomlrlf13">
        <div class="region-fast-actions-11z473d eomlrlf11">
            <div class="region-fast-actions-1328dwk eomlrlf4"><img
                    src="https://stories-res.online.sberbank.ru/CAMPAIGN/CAMPAIGNS/25942/698522fb590caedc32a3dc8432e03672.png"
                    alt="Истории: что это такое?" srcset="" role="presentation"></div>
            <div class="region-fast-actions-5s7j7b eomlrlf1"><span
                    class="eomlrlf0 region-fast-actions-1s5b0un etqg34g0"><svg focusable="false" width="8" height="10"
                                                                               viewBox="0 0 8 10"
                                                                               xmlns="http://www.w3.org/2000/svg"><path
                    d="M0 8.30049V1.69951C0 0.93703 0.819113 0.455063 1.48564 0.825358L7.42652 4.12584C8.11233 4.50685 8.11233 5.49315 7.42652 5.87416L1.48564 9.17464C0.819112 9.54494 0 9.06297 0 8.30049Z"></path></svg></span>
            </div>
            <button tabindex="0" title="Скрыть карточку" class="region-fast-actions-1yxnxzs eomlrlf2"><span
                    class="region-fast-actions-1kpp3xy etqg34g0"><svg focusable="false"
                                                                      xmlns="http://www.w3.org/2000/svg" width="24"
                                                                      height="24" viewBox="0 0 24 24"><path
                    fill-rule="evenodd"
                    d="M15.293 7.293L12 10.585 8.707 7.293c-.36-.36-.928-.388-1.32-.083l-.094.083c-.39.39-.39 1.024 0 1.414L10.585 12l-3.292 3.293c-.39.39-.39 1.024 0 1.414.39.39 1.024.39 1.414 0L12 13.415l3.293 3.292c.36.36.928.388 1.32.083l.094-.083c.39-.39.39-1.024 0-1.414L13.415 12l3.292-3.293c.39-.39.39-1.024 0-1.414-.39-.39-1.024-.39-1.414 0z"></path></svg></span>
            </button>
        </div>
        <div class="region-fast-actions-1rg7e38 eomlrlf10"><p title="Истории: что это такое?" font-weight="medium"
                                                              class="region-fast-actions-ij1n9i eomlrlf9">Истории: что
            это такое?</p></div>
    </a></div>
    <div class="epxjhex0 region-fast-actions-1x071c0 e1ndjcsx0"><a tabindex="0"
                                                                   class="region-fast-actions-1q8dsx9 eomlrlf13">
        <div class="region-fast-actions-11z473d eomlrlf11">
            <div class="region-fast-actions-1328dwk eomlrlf4"><img
                    src="https://stories-res.online.sberbank.ru/CAMPAIGN/CAMPAIGNS/25944/16fc48cf21d9daed7e75c9ccd1bf5edc.png"
                    alt="Справка — без похода в&nbsp;банк" srcset="" role="presentation"></div>
            <div class="region-fast-actions-5s7j7b eomlrlf1"><span
                    class="eomlrlf0 region-fast-actions-1s5b0un etqg34g0"><svg focusable="false" width="8" height="10"
                                                                               viewBox="0 0 8 10"
                                                                               xmlns="http://www.w3.org/2000/svg"><path
                    d="M0 8.30049V1.69951C0 0.93703 0.819113 0.455063 1.48564 0.825358L7.42652 4.12584C8.11233 4.50685 8.11233 5.49315 7.42652 5.87416L1.48564 9.17464C0.819112 9.54494 0 9.06297 0 8.30049Z"></path></svg></span>
            </div>
            <button tabindex="0" title="Скрыть карточку" class="region-fast-actions-1yxnxzs eomlrlf2"><span
                    class="region-fast-actions-1kpp3xy etqg34g0"><svg focusable="false"
                                                                      xmlns="http://www.w3.org/2000/svg" width="24"
                                                                      height="24" viewBox="0 0 24 24"><path
                    fill-rule="evenodd"
                    d="M15.293 7.293L12 10.585 8.707 7.293c-.36-.36-.928-.388-1.32-.083l-.094.083c-.39.39-.39 1.024 0 1.414L10.585 12l-3.292 3.293c-.39.39-.39 1.024 0 1.414.39.39 1.024.39 1.414 0L12 13.415l3.293 3.292c.36.36.928.388 1.32.083l.094-.083c.39-.39.39-1.024 0-1.414L13.415 12l3.292-3.293c.39-.39.39-1.024 0-1.414-.39-.39-1.024-.39-1.414 0z"></path></svg></span>
            </button>
        </div>
        <div class="region-fast-actions-1rg7e38 eomlrlf10"><p title="Справка — без похода в&nbsp;банк"
                                                              font-weight="medium"
                                                              class="region-fast-actions-ij1n9i eomlrlf9">Справка — без
            похода в&nbsp;банк</p></div>
    </a></div>
</div>