{% extends 'base.html' %}

{% block profile %}
    {% include 'inc/_profile.html' %}
{% endblock %}

{% block menu %}
    {% include 'transaction includes/profile_finances_sidebar.html' %}
{% endblock %}

{% block content %}
    <div class="flex-col card my-chadow my-margin my-padding">
        <h1>Детали транзакции</h1>
        <div class="p-1">
            <p>

                {% if  transaction_one.transactions_type.main_type %}
                    Доход:
                {% else %}
                    Расход:
                {% endif %}
                <b>{{ transaction_one.transactions_type.category }}</b></p>
            <p>Сумма: <b>{{ transaction_one.transactions_type.currency }} {{ transaction_one.money_value }}</b></p>
            <p class="text-justify transaction-card__comment_text">Примечание: {{ transaction_one.comment }}</p>
            <p>Время добавления: {{ transaction_one.data_time }}</p>
            <p>Cчёт транзакции: <b>{{ transaction_one.accounts.title }}</b></p>
            <p><a href="{% url 'transactions_update' transaction_one.id %}"
                  class="btn btn-primary btn-block">Редактировать</a></p>
            <p><a href="{% url 'transactions_delete' transaction_one.id %}" class="btn btn-danger btn-block">Удалить</a>
            </p>
        </div>
    </div>






{% endblock %}