{% extends 'base.html' %}
{% block profile %}
    {% include 'inc/_profile.html' %}
{% endblock %}

{% block content %}
    <div class="flex-col card my-chadow my-margin my-padding">
        <h1>Редактирование транзакции</h1>
        <div class="p-1">


            <p>
                {% if  transactions.transactions_type.main_type %}
                    Доход:
                {% else %}
                    Расход:
                {% endif %}
                <b>{{ transactions.transactions_type.category }}</b></p>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit" class="btn btn-primary btn-block">Сохранить</button>

            </form>


        </div>
    </div>

{% endblock %}