 <!-- Site footer -->
    <footer class="site-footer my-chadow blockquote-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">Это мой домашний проект, я очень сильно стараюсь над ним, и
                            надеюсь ты поможешь мне с его
                            улучшением). Расскажи мне все плюсы и минусы, то что ты нашел, куда-нибудь в лс. Я открыт к
                            любой критике и
                            предложениям!</p>
          </div>

{#          <div class="col-xs-6 col-md-3">#}
{#            <h6>Свяжись с разработчиком!)</h6>#}
{#            <ul class="footer-links">#}
{#              <li><a href="https://vk.com/sad_____________________girl">VK</a></li>#}
{#              <li><a href="https://t.me/bayancheek">Telegram</a></li>#}
{#              <li><a href="http://scanfcode.com/category/back-end-development/">PHP</a></li>#}
{#              <li><a href="http://scanfcode.com/category/java-programming-language/">Java</a></li>#}
{#              <li><a href="http://scanfcode.com/category/android/">Android</a></li>#}
{#              <li><a href="http://scanfcode.com/category/templates/">Templates</a></li>#}
{#            </ul>#}
{#          </div>#}
{##}
          <div class="col-xs-6 col-md-3">
            <h6>Свяжись с разработчиком!)</h6>
            <ul class="footer-links">
              <li><a href="https://vk.com/sad_____________________girl">VK</a></li>
              <li><a href="https://t.me/bayancheek">Telegram</a></li>
{#              <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>#}
{#              <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>#}
{#              <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>#}
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">&copy; Копибара 2022 - НормесКорпарейшн. Все права на контент не
                        защищены.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="vk" href="https://vk.com/sad_____________________girl"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
              <li><a class="telegram" href="https://t.me/bayancheek"><i class="fa fa-telegram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
</footer>