<nav class="navbar navbar-light bg-light my-chadow">
    <a class="navbar-brand" href="{% url 'transactions_home' %}">
        <img src="/static/bootstrap-icons-1.9.1/bootstrap.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        MoneyDiary
    </a>


    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'choice_category' %}">Добавить
                    транзакцию</a>

            </li>
        {% endif %}
        {% comment %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
            {% endcomment %}
    </ul>
    <span class="navbar-text">
            {% if request.user.is_authenticated %}
                Добро пожаловать, {{ user.username }} | <a href="{% url 'logout' %}">Выход</a>
            {% else %}
                <a href="#">Регистрация</a> | <a href="{% url 'login' %}">Вход</a>
            {% endif %}
        </span>
    {% comment %}
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            {% endcomment %}


</nav>